
target/
out/
build/

### Настройки IntelliJ IDEA (Важно для командной работы) ###
.idea/
*.iws
*.iml
*.ipr

### Системные файлы (Windows & Mac) ###
.DS_Store
Thumbs.db
desktop.ini

### Логи и отчеты (Чтобы не мусорить в Git) ###
*.log
/allure-results/
/allure-report/
/test-output/

